<!DOCTYPE html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Welcome!</title>
    </head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h3>Oh no! Something broke!</h3>
        <hr width="100%">
        <p class="bg-primary">
            <h5>Make sure you are using the correct username and password. If you are still reciving this error, try again :(</h5>
            <p><a href="/">Click Here to  go back!</a></p>
        </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>