<!DOCTYPE html>
    <head>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Welcome!</title>
    </head>
<body>
<div class="container">
<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Update User {{ data['usern'] }}!</h3>
            
<form enctype="multipart/form-data" action="/updateAction/{{data['usern']}}" method="post">
        <label>Username</label>
        <input type="text" name="username" class="form-control" value="{{ data['usern'] }}" required>
        <br>
        <label>Password</label>
        <input type="password" class="form-control" name="password" value="{{ data['userp'] }}" required>
        <br>
        <input type="submit" class="btn btn-primary" value="Update User!">
        <a href="/protected" class="btn btn-link active">Cancel</a>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>
</body>
</html>